@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*,
*:before,
*:after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: bisque;
}

.header {
    position:fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 6.5vh;
    width: 100vw;
    padding: 0px 5px 0px 5px;
    background-color: bisque;
    border: 1.5px solid red;
}

a {
    text-decoration: none;
    color: black;
}

.logo {
    padding: 2px 0px 0px 5px;
}

.logo img {
    height: 50px;
    width: 120px;
}

.search-and-nav {
    display: flex;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
}

.navdata {
    position:relative;
    width:35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navdata a {
    margin-right: 5px;
    display: flex;
    align-items: center;
    position: relative;
    transition: transform 0.2s ease-in-out;
    transition-delay: 0.5;
}

.navdata a:hover {
    transform: scale(0.9);
    cursor: pointer;
}

.navdata a:after {
    content: "";
    position: absolute;
    background-color: red;
    height: 2.5px;
    width: 0px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
}

.navdata a:hover:after {
    margin: -3%;
    width: 100%;
}

.search-bar form {
    display: flex;
    align-items: center;
    margin-right: 0px;
}

.search-bar input[type="text"] {
    margin-right:-2px;
    padding: 5px;
    height: 35px;
    width: 500px;
    border: 2px solid black;
}

.search-bar button[type="submit"] {
    padding: 0;
    border: none;
    background: none;
    width: 35px;
    height: 35px;
    border: 2px solid black;
}

.search-bar img{
    width: 35px;
}

.loc_set {
    display: flex;
}

.loc_set a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loc_set img {
    width: 35px;
    margin-bottom: -4px;
    margin-left: -9px;
}

.main{
    padding-top: 70px;
}


@media screen and (max-width: 430px) {
    .header {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
    }
    .logo {
        padding: 5px 15px 0px 5px;
        order: 1;
    }
    .logo img {
        height: 50px;
        width: 75px;
    }
    .loc_set {
        order: 2;
        margin-left: 5px;
        margin-top: 5px;
    }
    .loc_set img {
        width: 30px;
    }
    .navdata {
        order: 3;
        padding: 5px 10px 0px 10px;
    }
    .navdata img {
        width: 30px;
    }
    .navdata a {
        margin-left: 20px;
    }
    .search-bar {
        order: 4;
        margin-top: 10px; /* Added margin-top to separate search bar from above content */
    }
    .search-bar input[type="text"] {
        padding: 5px;
        height: 40px;
        width: 200px;
        border: 2px solid black;
    }
    .search-bar button[type="submit"] {
        padding: 0;
        border: none;
        background: none;
        width: 35px;
        height: 40px;
        border: 2px solid black;
    }
    .search-bar img {
        width: 5px;
        height: 18px;
    }
}
